body{
    font-family: 'Montserrat', sans-serif;
}

header{
    height: 250px;
    width: 100%;
    background-color: #bbb;   
    
    padding: 20px 0;
}

.caixa{
    position: relative;
    width: 940px;
    margin: 0 auto;
}
nav{
    position: absolute;
    top: 110px;
    right: 100px;
}

nav li{
    display: inline-block;  
    
    margin: 0 0 0 15px;  

}

nav a{
    color: #000;
    font-size: 22px;
    font-weight: bold; 
    

    list-style: none;
    text-decoration: none;    
    text-transform: uppercase;
}
nav a:hover{
    color: #c78c19;
    text-decoration: underline;
}

.produtos{
   width: 940px;
   margin: 0 auto;
   padding: 50px 0;
}
.produtos li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;    
    margin: 0 1.5%;

    border: 2px solid #000;
    border-radius: 10px;

    padding: 30px 20px;

    box-sizing: border-box;
}

.produtos li:hover{
    border-color: #c78c19;
    
}
.produtos li:active{
    border-color: #088c19;
}

.produtos li:hover h2{
    font-size: 34px;
}

.produtos h2{
    font-size: 30px;
    font-weight: bold;
}
.produtos p{
    font-size: 18px;
    
}
.produtos p+p{
    font-size: 22px;
    font-weight: bold;

    margin: 10px 0 0;
}

footer{
    text-align: center;
    background-image: url(../assets/bg.jpg);
    padding: 40px 0;

}
.copyrigth{
    color: white;
    font-size: 13px;
    margin-top: 20px;
}

form{
    margin: 10px 30px 0;
}
form label, form legend{
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

.input-padrao{
    display: block;

    font-size: 20px;

    margin: 0 0 20px;
    padding: 20px 15px 20px;
    width: 50%;
}

#contato-novidades{
    margin: 20px 0;
}
select{
    font-size: 15px;

    margin: 0px 0 20px;
    padding: 5px;
    width: 13%;
}
input[type="submit"]{
    width: 25%;
    padding: 15px;
    font-size: 18px;
    font-weight: bold;
    color: white;

    border: 0;
    border-radius: 5px;
    
    background-color: orange;

    transition: 700ms all;

    cursor: pointer;

}

input[type="submit"]:hover{
    background-color: darkorange;

    transform: scale(1.1);    
}

table{
    margin: 15px 20px;

}
thead{
    background-color: #555555;
    color: white;
    font-weight: bold;
}

td , th{
    border: 1px solid black;
    padding: 10px 18px;
}
td:first-child{
    background-color: rgb(211, 208, 208);
}

/* css da página inicial*/

.banner{
    width: 100%;
}

.principal{
    padding: 3em 0;
    background-color: #fefefe;

    width: 940px;
    margin: 0 auto;

}
.titulo-principal{
   text-align: center;
   font-size: 2em;
   margin: 0 0 1em;
   clear:left;
   font-weight: 600;

   color: rgba(0, 0, 0, 0.6);
}

.principal p{
    margin: 0 0 1em;
}

.principal strong{
    font-weight: bold;
}

.principal em{
    font-style: italic;
}

.utensilios{
    width: 120px;
    float: left;
    margin: 0 20px 20px 0;
}

.mapa{
    padding: 3em 0;

    background: linear-gradient(#fefefe,#888);
}

.mapa p{
    margin: 0 0 2em;
    text-align: center;   

}

.mapa-conteudo{
    width: 940px;
    margin: 0 auto;
}


.conteudo-beneficio{
    width: 640px;
    margin: 0 auto;
}

.beneficios{
   padding: 3em 0;
   background: #888888;
}

.lista-beneficio{
    width: 40%;
    display: inline-block;
    vertical-align: top;
}

.itens:before {
    content: "★";
}
.itens{
    line-height: 1.5em;
    font-weight: 400;
}
.itens:first-child{
    font-weight: bold;
}
.imagem-beneficio{
    width: 60%;
    transition: all 400ms;

    box-shadow: 10px 10px 10px #000 ;
}
.imagem-beneficio:hover{
    opacity: 0.3;
}

.video{
    width: 560px;
    margin: 2em auto;
}

/* Css responsivo*/







