.cabecalhoPrincipal .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cabecalhoPrincipal-nav{
    display: flex;
}

.videoSobre .container{
    display: flex;
}

.videoSobre .container .videoSobre-sobre{
    display: flex;
    flex-flow: column;   
    text-align: center;
    flex-grow: 2;
}
.videoSobre-sobre-list{
    flex-grow: 1;
}

.videoSobre-video{
    flex-grow: 1;
    flex-shrink: 2;
    
}

.conteudoPrincipal .conteudoPrincipal-cursos{
    display: flex;
    flex-flow: row wrap;
}
.conteudoPrincipal-cursos-link{
    width: 23%;
}

.rodapePrincipal-navMap-list{
    display: flex;
    /*flex-direction: column;
    flex-wrap: wrap; */
    flex-flow: column wrap;
    height: 250px;
    flex-shrink: 2;
}
      

.rodapePrincipal-patrocinadores .container{
    display: flex;
}

.container .rodapePrincipal-patrocinadores-list{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-around;
}
.rodapePrincipal-contatoForm-fieldset{
    display: flex;
}

/*Responsividade mobile*/

@media(max-width: 780px){

    .cabecalhoPrincipal-nav-link-app{
        order: -1;
    }
   .cabecalhoPrincipal .container{
       flex-direction: column;
       text-align: center;
       align-items: initial;

   }
   .cabecalhoPrincipal-nav{
       flex-direction: column;
       align-items: initial;       
   }

   .conteudoPrincipal-cursos{
       flex-direction: column;
   }
   .conteudoPrincipal-cursos-link{
       width: 100%;    
   }
   .videoSobre .container{
       flex-direction: column;
       align-items: center;
   }

   .rodapePrincipal-navMap-list{
       height: auto;
   }

   .rodapePrincipal-patrocinadores .container{
    flex-direction: column;  
   }

   .rodapePrincipal-contatoForm {
       align-items: center;
   }
   .rodapePrincipal-contatoForm-fieldset{
       justify-content: center;
   }

}